/* #ff8aa9 darker pink for card */
/* #ffffff white for text */
/* #ffb1c0 lighter shade of pink for card */
/* #ed6972 blue for wins (still need to do API call for match history) */
/* #ffb1c0 red for losses  */
/* #ffc3d0 LIGHTER pink (for something will figure that out later) */

:root {
  --main: #ff8aa9;
  --light: #ffb1c0;
  --win: #69aded;
  --loss: #e07087;
  --bg: #292c2e;
  --container: #181a1b;
  --text: #9aa4af;
}

* {
  font-family: "Outfit", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--bg);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bg);
}

.search-app-container {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.input-app { 
  width: 1117px;
  padding: 10px;
  border-radius: 15px;
  border: solid var(--main) .2px;
  width: 800px;
  color: var(--light);
  font-weight: bold;
}

.input-app:focus {
  outline: none; /* Remove the default blue outline */
  border: 1px solid var(--main); /* Set your own border color */
  box-shadow: 0 0 5px var(--main); /* Add a custom shadow for focus */
}

.search-btn {
  padding: 8px 18px;
  border-radius: 999px;
  border: 0;
  background: var(--main);
  color: #FFFFFF;
  cursor: pointer;
  transition: 1s;
  box-sizing: border-box;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  text-wrap: nowrap;
}

.search-btn:hover {
  background: #ffb1c0;
  box-shadow: #ff8aa9 0 10px 20px -10px;
  transition: .5s;
}

.container {
  position: relative;
  overflow-x: clip;
  padding: 20px;
  margin-bottom: 20px;
  background: var(--main);
}

.svg-wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: -1;
  margin-bottom: -9px;
}

.container-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background: var(--container);
  gap: 15px;
}

.title-app {
  text-shadow: 1px 0 1px #514945, -1px 0 1px #514945, 0 1px 1px #514945, 0 -1px 1px #514945, 1px 1px 1px #514945, -1px -1px 1px #514945, 1px -1px 1px #514945, -1px 1px 1px #514945;
  letter-spacing: 1px;
  color: #ff8aa9;
  font-size: 46px;
  margin-top: 6px;
}


.player-data {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background-image: url(./assets/cardbg7.png);
  width: 555px;
  height: 200px;
  border: 1px solid var(--main);
  box-shadow: 0 0 5px var(--main);
  transition: 1s;
  position: relative;
}

.player-data:hover {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background-image: url(./assets/cardbg7.png);
  width:555px;
  height:200px;
  border: 1px solid var(--main); /* Set your own border color */
  box-shadow: 0 0 15px var(--main); /* Add a custom shadow for focus */
  transition: .5s;
  
}

.player-profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 13px;
}

.profile-icon {
  margin-right: 10px;
  border-radius: 50%;
}

.game-name {
  display: flex;
  align-items: left;
  font-size: 20px;
  font-weight: bold;
  margin:0;
  
}

.rank-info {
  display: flex;
  flex-direction: column;
}

.container-player-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  justify-content: center;
  width: 230px;
  align-items: baseline;
}

.container-wl {
  display: flex;
  gap: 5px;
}

.container-rankwr {
  display: flex;
  gap: 5px;
  margin-bottom: -30px;
  margin-top: -10px;
}

.border-image-app {
  pointer-events: none;
  z-index: 0;
  width: 230px;
  position: absolute;
  margin-top: -57px;
}

.icon-modal-app {
  pointer-events: none;
  width: 80px;
  border-radius: 50%;
  position: absolute;
}

.icon-container-app {
  position: relative;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.credentials-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 25px;
  z-index: 3;
}

.data-cont {
  display: flex;
  color: white;
  margin-left: -30px;
}

.decay-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  justify-content: center;
  padding-left: 73px;
  padding-bottom: 30px;
}

.container-right {
  display: flex;
  color: white;
  position: relative;
}

.wins, .losses, .win-rate {
  opacity: .5;
}

.user-pass-copy {
  display: flex;
  gap: 5px;
}

.user-copy, .pass-copy {
  opacity: .8;
  transition: 1s;
  z-index: 5;
  padding: .5px;
}

.user-copy:hover {
  text-shadow: 0px 0px 15px #FFFFFF;
  transition: 1s;
}

.pass-copy:hover {
  text-shadow: 0px 0px 15px #FFFFFF;
  transition: 1s;
  z-index: 5;
}

.decay-count{
  font-size: 50px;
}

.decay-count2{
  opacity: .7;
  font-weight: 500;
  margin-top: -35px;
  font-size: 20px;
}


.match-history-cont {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.match-history-item {
  position: relative;
  width: 26px;
  height: 26px;
  /* border-radius: 50%; */
  overflow: hidden;
  padding-bottom: 5px; /* Space for underline */
}

.match-history-item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: filter 0.3s ease;
}

/* Add blue underline for win icons */
img.win {
  border-bottom: 3px solid #b1ddfb;
}

/* Add red underline for loss icons */
img.lose {
  border-bottom: 3px solid #ed6972;
}

.decay-btn-refresh {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
